.dashboard_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.metric_display{
    display: flex;
    align-items: center;
    /* gap: 2rem; */
}


.dashboard_metric_child{
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 2rem;
    padding: 2rem;
}

.dashboard_metric_child:hover{
    border: 1px solid white;
}

.dashboard_metric_child p{
    font-weight: bold;
}